@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }
        /*Create a center align class*/
        .centerimage {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: auto;
        }
        .bottom {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            vertical-align: bottom
        }
        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 33%;
            padding: 10px;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
        @@media screen and (max-width: 600px) {
            .column {
                width: 100%;
            }
        }
    </style>
</head>
<body>
    @{
        var title = "";
        var isLogged = false;
        if (!IsPost) {
            title = "Debe iniciar sesión para poder continuar";
        }
        else {
            title = "Bienvenido: " + ViewBag.UserName;
            isLogged = true;
        }
    }
    @*
        @{
            var title = "";
            var isLogged = false;
            if (ViewBag.UserName == null) {
                title = "Debe iniciar sesión para poder continuar";
            }
            else {
                title = "Bienvenido: " + ViewBag.UserName;
                isLogged = true;
            }
        }
    *@
    <h2>@title</h2>
    @if (!isLogged) {<button class="bottom" onclick="location.href='@Url.Action("Index", "Login")'">Ingresar</button>}
    <div class="row">
        <div class="column" style="background-color:#aaa;">
            <h2>Pagos de Servicios</h2>
            <p>Utilizando su cuenta puede pagar los servicios que estén afiliados con nuestra plataforma.</p>
            <img src="~/Images/PublicServices.jpg" alt="Servicios públicos" class="centerimage">
            @{if (isLogged) { <button class="bottom" onclick="location.href='@Url.Action("Index", "PaymentsServices")'">Ingresar</button> }
                else {<button class="bottom" disabled>Ingresar</button>} }

        </div>
        <div class="column" style="background-color:#bbb;">
            <h2>Calendario</h2>
            <p>Agregue, vea y edite eventos de su vida diaria para que nunca se pierda esos momentos importantes de su vida.</p>
            <img src="~/Images/Calendar.jpg" alt="Calendario" class="centerimage">
            @{if (isLogged) {<button class="bottom" onclick="location.href='@Url.Action("Index", "Calendar", new {name=ViewBag.UserName})'">Ingresar</button>}
                else {<button class="bottom" disabled>Ingresar</button>} }
        </div>
        <div class="column" style="background-color:#aaa;">
            <h2>Medicamentos</h2>
            <p>
                Agregue sus medicamentos y no se olvide nunca más de sus dosis y horarios haciendo uso del organizador. Además le indica cuándo ha terminado el
                consumo del medicamento.
            </p>
            <img src="~/Images/Medicines.jpg" alt="Medicinas ordenadas" class="centerimage">
            @{if (isLogged) {<button class="bottom" onclick="location.href='@Url.Action("Index", "Medicines")'">Ingresar</button>}
                else {<button class="bottom" disabled>Ingresar</button>} }
        </div>
    </div>
</body>
</html>